/* Sets over all type options that should persist through the whole project */
body{
  font-family: "Times New Roman", Georgia, serif;
}

/* Sets up the veritcal menu */
.vertical-menu {
    width: 10%;
    height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #eee;
}

/* Outlines the various links for easier viewing */
a {
    border-bottom: 1px solid #555;
}

/* Styles the links in the vertical menu */
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 25px 0px 25px 10px;
    text-decoration: none;
    font-size: 20px;
  }

/* Sets the color when a cursor is over the link */
.vertical-menu a:hover {
    background-color: #ccc;
}

/* Changes the color when the link is active */
.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

/* Positions the area that the various views will appear in */
.main-view{
  display: inline-block;
  padding-left: 11%;
}
