<!-- THis div contains the navigation controls-->
<div class="vertical-menu">
  <a routerLink="clockin">Clock In</a>
  <a routerLink="buttonbox">Clock Out</a>
  <a>Clock Onto Job</a>
  <a>Clock Off Job</a>
  <a>Job Sticker</a>
  <a>Incomplete <br/> Workstation</a>
  <a>Materials</a>
  <a>Another Link</a>
  <a>Another Link</a>
  <a>More</a>
  <a>Another Link</a>
  <a>Another Link</a>
</div>
<!--The parent modules will load into this div-->
<div class="main-view">
  <router-outlet></router-outlet>
</div>
