<p>id works</p>
<ul class="heroes">
  <li *ngFor="let employee of employees">
    <span class="badge">{{employee.id}}</span> {{employee.name}} <span>{{employee.active}}</span>
  </li>
</ul>
<input type="button" id="test" value="Display" (click)="displayEmployee">
<div *ngIf="displayEmployee">
  <p>Button Works</p>
</div>
<!-- Number pad layout, uncomment once other functionality is completed -->
<!-- <div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
</div> -->
