<!-- Remove this list before finishing the whole project, saved here for future reference -->
<div class="">
  <ul class="heroes">
    <li *ngFor="let employee of employees">
      <p><span class="badge">{{employee.id}}</span> {{employee.name}} <span> Active: {{employee.active}} </span> Clocked In: {{employee.clockedIN}}</p>
    </li>
  </ul>
</div>
<!-- Takes in employee id, should transmit to services, and then recieve a message -->
<input #eidBox name="eidfield" (keyup.enter)="clockin(eidBox.value)">
<input type="button" id="enterid" value="Enter" (click)="clockin(eidBox.value)">
<div *ngIf="idfromInput">
  {{idfromInput}}
</div>
<app-messages></app-messages>
<!-- Number pad layout, uncomment once other functionality is completed -->
<!-- <div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
</div> -->
