#enterid{
  background-color: #1a75ff;
  border: none;
  color: white;
  padding: 20px 30px;
  font-size: 22px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 5px 0px 10px #888888;
}

/* Ripple effect */
#enterid {
  background-position: center;
  transition: background 0.5s;
}
#enterid:hover {
  background: #99c2ff radial-gradient(circle, transparent 1%, #1a75ff 1%) center/15000%;
}
#enterid:active {
  background-color: #1a75ff;
  background-size: 100%;
  transition: background 0s;
  transform: translateY(2px);
}

#eidfield{
  width: 50%;
  padding: 15px 15px;
  font-size: 25px;
}
