<!-- Remove this list before finishing the whole project, saved here for future reference -->
<!-- <div class="">
  <ul class="heroes">
    <li *ngFor="let employee of employees">
      <p><span class="badge">{{employee.id}}</span> {{employee.name}} <span> Active: {{employee.active}} </span> Clocked In: {{employee.clockedIN}}</p>
    </li>
  </ul>
</div> -->
<!-- Takes in employee id, should transmit to services, and then recieve a message -->
<input #eidBox [(ngModel)]="idnumberbox" name="eidfield" (keyup.enter)="onEnter(eidBox.value)">
<input type="button" id="enterid" value="Enter" (click)="onEnter(eidBox.value)">
<app-numberpad (numberpadInput) = "keypadValue($event)"></app-numberpad>
<!-- <p>{{employee.name}} clocked in at {{today | date: 'shortTime'}}</p>
<div *ngIf="idfromInput">
  {{idfromInput}}
</div> -->
<app-messages></app-messages>
