<!-- Number pad layout, need to add enter and backspace button -->
<div class="grid-container">
  <div class="grid-item"><input type="button" class="key" id="number1" value="1" (click)="onPress(1)"></div>
  <div class="grid-item"><input type="button" class="key" id="number2" value="2" (click)="onPress(2)"></div>
  <div class="grid-item"><input type="button" class="key" id="number3" value="3" (click)="onPress(3)"></div>
  <div class="grid-item"><input type="button" class="key" id="backspace" value="Backspace"></div>
  <div class="grid-item"><input type="button" class="key" id="number4" value="4" (click)="onPress(4)"></div>
  <div class="grid-item"><input type="button" class="key" id="number5" value="5" (click)="onPress(5)"></div>
  <div class="grid-item"><input type="button" class="key" id="number6" value="6" (click)="onPress(6)"></div>
  <div class="grid-item"><input type="button" class="key" id="clear" value="Clear"></div>
  <div class="grid-item"><input type="button" class="key" id="number7" value="7" (click)="onPress(7)"></div>
  <div class="grid-item"><input type="button" class="key" id="number8" value="8" (click)="onPress(8)"></div>
  <div class="grid-item"><input type="button" class="key" id="number9" value="9" (click)="onPress(9)"></div>
  <div class="grid-item"><input type="button" class="key" id="number0" value="0" (click)="onPress(0)"></div>
</div>
